<h3 style="text-align:center">Danh sách lớp giảng dạy</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên môn học</th>
      <th scope="col">Mã môn học</th>
      <th scope="col"><i class="fa fa-cog"></i></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of allMyClass; index as i">
      <th scope="row">{{i+1}}</th>
      <td>{{item.tenmonhoc}}</td>
      <td>{{item.mamonhoc}}</td>
      <td><button [routerLink]="['chi-tiet',item.mamonhoc]" class="btn btn-success btn-sm"><i class="fa fa-eye"></i></button></td>
    </tr>
  </tbody>
</table>